html, body {
	font-family: system-ui, -apple-system, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

body {
	align-items: center;
	background-color: #333333;
	color: #00a86b;
	display: flex;
	font-size: 10vmin;
	justify-content: center;
	min-height: 100dvh;
	text-align: center;
}

.calendaricon {
	background-color: #00a86b;
	margin: 0 auto;
	padding: 4vmin;
	padding-top: 12vmin;
	width: 30vmin;
}

.calendaricon > div {
	background-color: #333333;
	width: 30vmin;
	font-size: 23vmin;
}
